// @import '../../style-variables/measures.scss';
// .card {
//   max-width: $card-width;
// }
.filter-context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filters {
  min-width: 200px;
  max-width: 340px;
  width: 340px;
}
