@import '../../style-variables/style-variables.scss';

.filter-context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filters {
  min-width: $filter-min;
  padding: $filter-padding;
  background: var(--bg2);
  margin: $filter-margin;
}
