@import '../../style-variables/style-variables.scss';

.block {
  min-width: $filter-min;
  padding: $filter-padding;
  background: var(--bg2);
  margin: $filter-margin;
  box-shadow: $shadow;
  border-radius: $option-radii;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:host {
  grid-area: filter;
}
.filter-label {
  width: 100%;
}
