@import '../../style-variables/style-variables.scss';

figure {
  background: var(--bg);
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $card-measure;
  min-height:$card-measure;
}

:host {
  display: flex;
  flex-direction: column;
  background: var(--bg2);
  padding: $default-padding;
  border-radius: $option-radii;
  box-shadow: $shadow;
  transition: box-shadow 0.5s linear;
  width: $card-measure;
}

:host:hover {
  box-shadow: 8px 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detail > div {
  display: flex;
  justify-content: space-between;
  margin: $option-radii 0px;
}

.card-title {
  padding: $filter-padding 0rem;
}
.blue-label,
.card-title,
.mlist {
  color: var(--ltc);
}

.mlist {
  display: list-item;
  margin-left: $list-margin;
}
