<!--Card Image -->
<div class="image">
  <img
    [lazyLoad]="data?.links?.mission_patch_small"
    src="./assets/loading.gif"
    [errorImage]="'./assets/404.jpg'"
    alt="{{ data?.mission_name }}"
  />
</div>
<!--Card Contect -->
  <!-- Details -->
  <div class="details">
    <div>
  <label class="blue-label" >{{ data?.mission_name }} # {{ data?.flight_number }}</label>

    </div>
    <!-- Mission IDS -->
    <div class="mid">
      <label>Mission Ids</label>
      <div class="blue-label list">
          <ng-container *ngIf="data?.mission_id && data?.mission_id.length > 0; else no_content">
            <ng-container *ngFor="let mi of data.mission_id">{{ mi }}</ng-container>
          </ng-container>
      </div>
    </div>
<!-- Year -->
    <div >
      <label>Launch Year</label>
      <div class="blue-label">
        {{ data?.launch_year }}
      </div>
    </div>
<!-- Launch -->

    <div >
      <label>Successful Launch</label>
      <div >
        {{ data?.launch_success | booleanEmojiPipe }}
      </div>
    </div>
<!-- Landing -->

    <div >
      <label>Successful Landing</label>
      <div >
        {{ data?.land_success | booleanEmojiPipe }}
      </div>
    </div>

  </div>

<!-- Templated -->
<ng-template #no_content>
  No mission ids.
</ng-template>
