@import '../../style-variables/style-variables.scss';

.grid-item {
  display: flex;
  flex-direction: column;
  background: var(--bg2);
  padding: $default-padding;
  max-width: $item-max;
  border-radius: $option-radii;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.5s linear;
}

.grid-item:hover {
  box-shadow: 8px 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  background: var(--bg);
  text-align: center;
  padding: $one-padding;
}

.item-detail-row {
  display: flex;
  justify-content: space-between;
  margin: $option-radii;
}

.card-title {
  padding: $filter-padding;
}
