<ng-template let-items [ngTemplateOutletContext]="{ $implicit: filterViewList | async }" [ngTemplateOutlet]="t" #t>
  <!-- List Loading -->
  <ng-container *ngFor="let values of items;let i = index; trackBy: trackItem" >
    <app-item [data]="values" *ngIf="i < limit" > </app-item>
  </ng-container>
  <!-- Loading... -->
  <img *ngIf="items === null" alt="loading..." src="./assets/loading.gif" />
  <!-- No COntent -->
  <img *ngIf="items?.length === 0" alt="loading..." src="./assets/mt.jpg" />
</ng-template>