@import '../../style-variables/style-variables.scss';

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: $generic-margin;
  padding: $generic-margin;
  justify-content: center;
}

@media screen and (min-width: $sky-size-screen-mobile) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: $sky-size-screen-tablet) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
  }
}
