@import '../../../style-variables/style-variables.scss';

.gf-title {
  display: flex;
  justify-content: center;
  margin-bottom: $generic-margin;
}

:host {
  max-width: $generic-width-max;
}

.gf-title-border {
  padding: $filter-padding;
  border-bottom: solid $generic-border-small $border-color;
}

.options-list {
  display: flex;
  flex-wrap: wrap;
}

.options.active {
  background: $filter--active-color !important;
}

.options {
  padding: $option-padding;
  background: $filter-color;
  margin: $option-margin;
  border-radius: $option-radii;
  cursor: pointer;
}
