@import '../../style-variables/style-variables.scss';

.gc-container {
  display: grid;
  grid-template-areas:
    'filter filter filter'
    'list list list';
  grid-gap: $generic-margin;
  padding: $generic-margin;
  justify-content: center;
}

.gc-filter {
  grid-area: filter;
}

.gc-list {
  grid-area: list;
}

@media screen and (min-width: $sky-size-screen-mobile) {
  .gc-container {
    grid-template-areas: 'filter list list';
    justify-content: start;
  }
}
