.gc-container {
  display: grid;
  grid-template-areas:
    'filter filter filter'
    'list list list';
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
}
.gc-filter {
  grid-area: filter;
}

.gc-list {
  grid-area: list;
}

@media screen and (min-width: 700px) {
  .gc-container {
    grid-template-areas: 'filter list list';
    justify-content: start;
  }
}
