@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  animation: loading 0.5s linear infinite;
  background: grey;
}

.loading-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loading-block > div {
  background: var(--bg2);
}
.loading-sub {
  margin: 5px;
  padding: 0.3rem;
}
