// ===========
// Breakpoints
// ===========
$card-width: 700px !default;

$sky-size-screen-mobile: 700px !default;
$sky-size-screen-tablet: 1024px !default;
$sky-size-screen-desktop: 1440px !default;

// ===========
// Borders
// ===========
$item-border: 8px !default;
$item-margin: 2px !default;
$default-padding: 1rem !default;

// ===========
// Padding
// ===========
$title-padding: 1rem 0rem;
$fbold: 900 !default;

$lab-width: 139px !default;
