@import './colors.scss';
@import './measures.scss';

$font-size-standard: 14px;
$font-size-xlarge: 16px;
$font-size-large: 12px;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

$generic-margin: 10px;
$generic-border-small: 1px;
$generic-width-max: 250px;

$option-padding: 7px 18px;
$option-margin: 9px 25px;
$option-radii: 5px;
$list-margin: 20px;
$filter-max: 340px;
$filter-min: 250px;
$card-measure: $filter-min;
$filter-padding: 0.5rem;
$filter-margin: 12px;
$item-max: 350px;
$one-padding: 1rem;
$bold: 900;
