// Global Font Size
$font-size-standard: 14px;
$font-size-large: 12px;
// Primary site color
$primary-text-color: #111;
$highlight-text-color: #454e93;

:root {
  --bg: #f2f2f2;
  --bg2: #fff;
  --ltc: #454e93;
  --tcc: #111;
}

body {
  height: 100%;
  margin: 0;
  background: var(--bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  font-size: $font-size-standard;
  color: var(--tcc);
  transition: background, color 0.5s;
  min-width: 360px;
}

label,
h3,
.card-title {
  font-weight: 900;
}

h2 {
  margin: 0;
  padding: 0.3rem;
}
