/* You can add global styles to this file, and also import other style files */

:root {
  --bg: #f2f2f2;
  --ltc: #454e93;
}

body {
  height: 100%;
  margin: 0;
  background: var(--bg);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
ul {
  margin: 0;
}

.bold {
  font-weight: 900;
}
.blue-label {
  color: var(--ltc);
}
