:root {
  --bg: #f2f2f2;
  --bg2: #fff;
  --ltc: #454e93;
  --tcc: black;
}
//TODO Refactor CSS variables
body {
  height: 100%;
  margin: 0;
  background: var(--bg);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: var(--tcc);
  transition: background, color 0.5s;
  min-width: 360px;
}

label,h3 {
  font-weight: 900;
}
h2{
  margin: 0;
  padding: 0.3rem;
}
.blue-label {
  color: var(--ltc);
}
